@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.App .tabs {
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #ea8685;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .tabs .active {
  -webkit-filter: brightness(0) saturate(100%) invert(73%) sepia(10%) saturate(2054%) hue-rotate(327deg) brightness(102%) contrast(91%) drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
          filter: brightness(0) saturate(100%) invert(73%) sepia(10%) saturate(2054%) hue-rotate(327deg) brightness(102%) contrast(91%) drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
}

.App .tabs ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.App .tabs ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.333%;
}

/*=======================Screens====================*/
.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: #fbfbfb;
  overflow: hidden;
}

.Home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.Home h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 8vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.Home .grid {
  padding: 5rem 5rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100vw - 10rem);
      grid-template-columns: calc(100vw - 10rem);
  -ms-grid-rows: auto 35vw auto;
      grid-template-rows: auto 35vw auto;
  grid-auto-rows: 35vw;
  gap: 2rem;
  overflow-y: auto;
}

.Closet nav {
  margin: 5em;
}

.Closet nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (minmax(100px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2.5em;
  list-style: none;
}

.Garments {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Garments .grid {
  height: 100%;
  padding: 5rem 5rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35vw 35vw;
      grid-template-columns: 35vw 35vw;
  -ms-grid-rows: 20vw;
      grid-template-rows: 20vw;
  grid-auto-rows: 35vw;
  gap: 2rem;
  overflow-y: auto;
}

.Garments .grid .Link {
  grid-column: span 2;
}

.Garments .grid .Link button {
  height: 20vw;
  width: calc(35vw * 2 + 2rem);
  background: #ea8685;
  border: none;
  border-radius: 9999999px;
  color: white;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vw;
}

.Garments .grid .GarmentCard {
  padding: 3vw;
  background: white;
  -webkit-box-shadow: 0px 1px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 85% 15%;
      grid-template-rows: 85% 15%;
}

.Garments .grid .GarmentCard img {
  max-height: calc(85% - 1vh);
  margin: auto;
}

.Garments .grid .GarmentCard .color-indicator {
  height: 100%;
  width: 60%;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 9999999px;
}

.Outfits {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Outfits .grid {
  padding: 5rem 5rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100vw - 10rem);
      grid-template-columns: calc(100vw - 10rem);
  grid-auto-rows: 35vw;
  gap: 2rem;
  overflow-y: auto;
}

.garment-photo-frame {
  height: calc(100% - 10rem);
  width: calc(100% - 10rem);
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: start;
  row-gap: 5vh;
  -webkit-column-gap: 1.4rem;
          column-gap: 1.4rem;
}

.garment-photo-frame > * {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  grid-row: span 1;
  color: #fff;
  font-size: 3.5vw;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.garment-photo-frame div {
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #e7e7e7;
}

.garment-photo-frame div svg {
  width: 50%;
  height: 50%;
}

.garment-photo-frame div img {
  width: 100%;
  height: 100%;
}

.garment-photo-frame button {
  border: none;
  background: #ea8685;
  padding: 3rem;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.garment-photo-frame button svg {
  width: 80%;
  height: 80%;
}

.garment-description {
  height: calc(100% - 10rem);
  width: calc(100% - 10rem);
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 0.5fr 1.5fr;
      grid-template-rows: 2fr 0.5fr 1.5fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  place-items: center;
  row-gap: 5vh;
}

.garment-description > * {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  background: #e7e7e7;
}

.garment-description div {
  grid-row: span 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.garment-description div svg {
  width: 50%;
  height: 50%;
}

.garment-description div img {
  width: 100%;
  height: 100%;
}

.garment-description input,
.garment-description textarea {
  background: #fff;
  border: 2px solid #e7e7e7;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: calc(70% - 3rem);
  width: calc(100% - 3rem);
  resize: none;
  padding: 2rem;
  font-size: 3.5vw;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}

.garment-description input:focus,
.garment-description textarea:focus {
  outline: none;
  border: 2px solid #ea8685;
}

.garment-tagging {
  height: calc(100% - 10rem);
  width: calc(100% - 10rem);
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.garment-tagging h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4.8vw;
  font-weight: 300;
}

.garment-tagging form {
  margin-top: 1.4rem;
  background: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 4rem);
  padding: 2rem;
  border-radius: 9999999px;
}

.garment-tagging form input {
  background: transparent;
  max-height: 100%;
  width: 100%;
  border: 2px solid #e7e7ee;
  font-family: "Oswald", sans-serif;
  font-size: 3.6vw;
  font-weight: 200;
}

.garment-tagging form input:focus {
  outline: none;
}

.garment-tagging form svg {
  height: 2.4rem;
  margin-right: 1.4rem;
}

.garment-tagging .tag-list {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 7rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  row-gap: 1.4rem;
  overflow-y: auto;
  width: 100%;
}

.garment-tagging .Link {
  width: 100%;
}

.garment-tagging .Link .done-btn {
  margin-top: 3rem;
  width: 100%;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 9999999px;
  background-color: #ea8685;
  color: #fff;
  font-size: 10vw;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.garment-tagging .Link .done-btn svg {
  -webkit-filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(281deg) brightness(115%) contrast(115%);
          filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(281deg) brightness(115%) contrast(115%);
}

.LogIn {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  font-family: "Oswald", sans-serif;
}

.LogIn h2 {
  font-size: 3.6rem;
  font-weight: 300;
  color: #ea8685;
  margin: 5rem auto;
}

.LogIn .card {
  width: auto;
  height: auto;
  margin: 0 5rem;
  padding: 5rem 2rem 3rem;
  background: #fbfbfb;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogIn .card form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.LogIn .card form label {
  position: relative;
  margin-left: 1rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: #fbfbfb;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 300;
  font-size: 1.25rem;
  color: #596275;
}

.LogIn .card form input {
  margin-bottom: 3rem;
  height: 4rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #596275;
  background-color: #fbfbfb;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  /*&:hover,*/
}

.LogIn .card form input:focus {
  outline: none;
  border-color: #ea8685;
}

.LogIn .card form .password-input {
  margin-bottom: 2.5rem;
}

.LogIn .card form button {
  height: 6.4rem;
  border: none;
  background: #ea8685;
  border-radius: 5px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  margin-bottom: 2.5rem;
}

.LogIn .card form button:hover, .LogIn .card form button:focus {
  outline: none;
  background: #e35b59;
}

.LogIn .card .error-box {
  background: #FF3838;
  height: 6.4rem;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

.LogIn .card .forgot-link {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #ea8685;
}

.LogIn .create-account {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.LogIn .create-account p {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 1.4rem;
}

.LogIn .create-account a {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ea8685;
  margin-bottom: 1.4rem;
}

.Profile {
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 3fr;
      grid-template-rows: auto 1fr 3fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  place-items: center;
  gap: auto;
}

.Profile h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 3.6rem;
  color: #ea8685;
}

.Profile .profile-header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(100% - 10.4rem);
  color: #596275;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1.6rem;
  place-items: center;
}

.Profile .profile-header h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.Profile .profile-header img {
  background: #C4C4C4;
  height: 10rem;
  width: 10rem;
  border-radius: 9999999px;
}

.Profile .card {
  width: calc(100% - 14rem);
  height: auto;
  margin: 0 5rem;
  padding: 5rem 2rem 3rem;
  background: #fbfbfb;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Profile .card h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

.Profile .card a, .Profile .card button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 6.4rem;
  border: none;
  background: #ea8685;
  border-radius: 5px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  margin-bottom: 2.5rem;
  text-decoration: none;
}

.Profile .card a:hover, .Profile .card a:focus, .Profile .card button:hover, .Profile .card button:focus {
  outline: none;
  background: #e35b59;
}

.Profile .card .error-box {
  background: #FF3838;
  height: 6.4rem;
  width: 100%;
  color: #fff;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

/*=======================Components====================*/
.OutfitCard {
  max-width: 100%;
  padding: 5vw;
  background: white;
  -webkit-box-shadow: 0px 1px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 25px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.OutfitCard img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: span 4;
  height: 100%;
  aspect-ratio: 1 / 1;
  margin: auto;
  background: #e4e4e4;
  border-radius: 5%;
}

.OutfitCard .information {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: span 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.OutfitCard .information div.swatches {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: span 3;
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 0.5rem;
  height: 100%;
}

.OutfitCard .information div.swatches div.outfit-swatch {
  height: 90%;
  aspect-ratio: 1 / 1;
  border: 1px solid #808080;
  border-radius: 15%;
  background: #e4e4e4;
}

.OutfitCard .information div.icons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  grid-row: span 3;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.CardButton {
  position: relative;
  max-width: 100%;
}

.CardButton span {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 5vw;
}

.CardButton img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.Camera {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.Camera video,
.Camera img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.Camera .take-photo-button {
  position: relative;
  bottom: 0;
  height: 10rem;
  width: 10rem;
  border: none;
  border-radius: 9999999px;
}

.TagCard {
  background: #e7e7e7;
  padding: 1.4rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 20px solid #ea8685;
  font-family: "Oswald", sans-serif;
  font-size: 3.6vw;
  font-weight: 200;
}

.TagCard svg:not(.check-mark) {
  aspect-ratio: 1 / 1;
  height: 80%;
  width: auto;
}

.TagCard svg.check-mark {
  -webkit-filter: invert(52%) sepia(96%) saturate(348%) hue-rotate(88deg) brightness(97%) contrast(89%);
          filter: invert(52%) sepia(96%) saturate(348%) hue-rotate(88deg) brightness(97%) contrast(89%);
  opacity: 0;
}

.TagCard svg.check-mark.active {
  opacity: 1;
  -webkit-animation: pop-anim 0.1s ease-in-out;
          animation: pop-anim 0.1s ease-in-out;
}

@-webkit-keyframes pop-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=App.css.map */